body{
    font-family: Arial, sans-serif;
    text-align:center;
    background:#222;
    color:white;
    padding:40px;
}

textarea{
    width:80%;
    height:180px;
    font-size:18px;
}

button{
    padding:12px 25px;
    font-size:18px;
    cursor:pointer;
}

svg{
    background:white;
    padding:25px;
    margin-top:30px;
    width:90%;
    max-width:1400px;
}

.barcodeCard {

    background: #333;

    width: 90%;

    margin: 40px auto;

    padding: 40px;

    border-radius: 10px;

}

.barcodeCard svg {

    background: white;

    width: 100%;

    padding: 20px;

}

.barcodeCard h2 {

    margin: 20px 0;

}

.currentShipment{

    border:6px solid #00ff00;

    box-shadow:0 0 30px #00ff00;

}

html {

    scroll-snap-type: y mandatory;

    scroll-behavior: smooth;

}

.barcodeCard {

    scroll-snap-align: center;

}